header{
    font-family:sans-serif;
    font-size:50px;
    color: rgb(73, 126, 19);

}
.head{
    background-color: rgb(240, 127, 86);
    height: 40px;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;  
    color:rgb(70, 115, 26);
}
li a{
    float: right;
    padding: 10px; 
    padding-left: 50px;
    padding-right: 20px;
    color:rgb(104, 110, 98);
    text-align: center;
    text-decoration:none;
}
a:hover {
    background-color: rgb(214, 208, 201);
    color:rgb(90, 172, 8);

}
#image1{
    float: right;

}
#image2{
    float: left;
}
footer{
    height: 200px;
    background-color: rgb(180, 184, 187);
}
#f1{
    padding-top: 10px;
    padding-left: 30px;
}
#f2{
    padding-top: 10px;
    padding-left:70px ;
}